/*styles for the <header> element*/
header{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border: 1px solid pink;
}

h1.name{
  text-align: center;
  font-size: var(--font-size-8);
  border: none;
}

header hr{
  width: 100%;
}


h2.title{
  text-align: center;
  font-size: var(--font-size-5);
  border: none;
}
